@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --bg-color: #FCF8F6;
    --cart-bg-color: #FFFFFF;
    --cart-border: #AD8A85;
    --cart-text: #260F08;
    --h5-color: #87635A;
    --h3-color: #260F08;
    --p-color: #C73B0F;
    --cart-h3-color: #C73B0F;
    --cart-p-color: #87635A;
    --btn-text-color: #FFFFFF;
    --btn-bg-color: #C73B0F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

.header {
    margin-left: 112px;
    margin-top: 88px;
    text-align: left;
    font-family: Red Hat Text;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.container {
    display: flex;
    margin-top: 32px;
    margin-left: 112px;
    margin-bottom: 88px;
}

.items {
    width: 250px;
    height: 347px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product img {
    width: 100%;
    height: 100%;
}

.product-list {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;
    column-gap: 24px;
}

.add-to-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 170px;
    background-color: var(--cart-bg-color);
    color: var(--cart-text);
    border: 1px solid var(--cart-border);
    cursor: pointer;
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.52px;
    text-align: center;
    padding: 12.5px 28px 12.5px 28px;
    border-radius: 999px;
    margin-top: -20px;
}

.add-to-cart:hover {
    color: var(--btn-bg-color);
    border: 1px solid var(--btn-bg-color);
}

.cart-icon {
    max-width: 20px;
    max-height: 20px;
    margin-right: 9.72px;
}

.cart-icon:hover {
    border: none;
}

.product-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-content h5 {
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.52px;
    text-align: left;
    margin-top: 16px;
    color: var(--h5-color);
}

.product-content h3 {
    font-family: Red Hat Text;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.17px;
    text-align: left;
    color: var(--h3-color);
    margin-top: 4px;
}

.product-content p {
    font-family: Red Hat Text;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.17px;
    text-align: left;
    color: var(--p-color);
    margin-top: 4px;
}

.quantity-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--btn-bg-color);
    padding: 30px 10px 10px 10px;
    border-radius: 999px;
    margin-top: -20px;
}

.quantity-control button {
    padding: 5px 10px;
    color: var(--cart-bg-color);
    border: 1px solid var(--btn-text-color);
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -20px;
}

.quantity-control button:hover {
    background-color: var(--btn-text-color);
    color: var(--btn-bg-color);
}

.quantity {
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.52px;
    text-align: left;
    color: var(--btn-text-color);
    margin-top: -20px;
    margin-left: 44px;
    margin-right: 44px;
}

.cart-section {
    width: 384px;
    height: 100%;
    max-height: auto;
    background-color: var(--cart-bg-color);
    margin-right: 112px;
    border-radius: 12px;
    padding-bottom: 40px;
}

.cart-section h3 {
    margin-left: 24px;
    margin-top: 24px;
    font-family: Red Hat Text;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.75px;
    text-align: left;
    color: var(--cart-h3-color);
}

.cart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-content p {
    margin-top: 16px;
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.52px;
    text-align: center;
    color: var(--cart-p-color)
}

.cart-items {
    margin-top: 24px;
    margin-left: 24px;
}

.cartItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cart-item-name {
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #260F08;
}

.inner-items {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.cart-item-quantity {
    width: 21px;
    max-width: 21px;
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #C73B0F;
}

.cart-item-price {
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #87635A;
}

.cart-item-total {
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.52px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #87635A;
}

.cart-item hr {
    width: 90%;
    margin: 16px 24px 16px 0px;
    border: 1px solid #F5EEEC;
}

.remove-item {
    width: 17.75px;
    height: 17.75px;
    color: #AD8A85;
    border-radius: 100%;
    background-color: transparent;
    border: 2px solid #AD8A85;
    margin-right: 24px;
    cursor: pointer;
}

.remove-item:hover {
    color: #260F08;
    border: 2px solid #260F08;
    transition: 0.3s ease-in-out;
}

.cart-summary {
    margin-top: 24px;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-summary p {
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.52px;
    text-align: left;
    color: var(--cart-text);
}

.cart-summary span {
    font-family: Red Hat Text;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.75px;
    text-align: left;
    color: var(--cart-text);
}

.cart-summary span::before {
    content: '$';
    font-family: Red Hat Text;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.75px;
    text-align: left;
    color: var(--cart-text);
    margin-left: 181px;
}

#confirm-order {
    padding: 16px 113.5px 16px 113.5px;
    font-family: Red Hat Text;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.17px;
    text-align: left;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);
    border-radius: 999px;
    border: none;
    margin-top: 24px;
    cursor: pointer;
}

#confirm-order:hover {
    background-color: rgba(124, 34, 7, 0.857);
}

.order-confirmation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.order {
    z-index: 999;
    position: relative;
    margin: auto;
    margin-top: 50px;
    width: 592px;
    height: auto;
    background-color: var(--cart-bg-color);
    padding: 40px;
    border-radius: 12px;
}

.order img {
    margin-bottom: 24px;
}

.order h2 {
    font-family: Red Hat Text;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: var(--cart-text);
    margin-bottom: 8px;
}

.order h4 {
    font-family: Red Hat Text;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.17px;
    text-align: left;
    color: var(--h5-color);
    margin-bottom: 32px;
}

.modal-content {
    background-color: var(--bg-color);
    max-height: 585px;
    overflow-y: auto;
}

.order-details {
    display: flex;
    flex-direction: row;
}

.product-images {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    margin: 24px 16px 16px 24px;
}

span {
    margin: 0px;
    padding: 0px;
}

.name-and-details {
    display: flex;
    flex-direction: column;
}

.item-name {
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.52px;
    text-align: left;
    color: var(--cart-text);
    margin-top: 24px;
}

.item-details {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 8px;
}

.item-quantity {
    width: 21px;
    max-width: 21px;
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.52px;
    text-align: left;
    color: var(--btn-bg-color);
}

.item-price {
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.52px;
    text-align: left;
    color: var(--h5-color);
    text-align: left;
}

.item-total-container {
    display: flex;
    margin-left: auto;
}

.item-total {
    font-family: Red Hat Text;
    font-size: 16px;
    font-weight: 600 !important;
    line-height: 21.17px;
    text-align: right;
    color: var(--cart-text);
    margin-top: 37.5px;
    margin-right: 24px;
}

.total p {
    padding: 24px;
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.52px;
    text-align: left;
    color: var(--cart-text);
}

.total span {
    font-family: Red Hat Text;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.75px;
    text-align: left;
    color: var(--cart-text);
}

.total span::before {
    content: '$';
    font-family: Red Hat Text;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.75px;
    text-align: left;
    color: var(--cart-text);
    margin-left: 309px;
}

.item-divider {
    margin: auto;
    border: none;
    width: 90%;
    border-top: 1px solid #F5EEEC;
}

#start-new-order {
    padding: 16px 193.5px;
    font-family: Red Hat Text;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.17px;
    text-align: left;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);
    border-radius: 999px;
    border: none;
    margin-top: 24px;
    cursor: pointer;
}

#start-new-order:hover {
    background-color: rgba(124, 34, 7, 0.857);
}

.product-image {
    border: none;
    border-radius: 8px;
    transition: border 0.3s ease;
}

.product-image.in-cart {
    border: 2px solid #C73B0F;
}

@media only screen and (max-width: 1383px) {
    body {
        margin: auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

    .header {
        margin-left: 15%;
    }

    .items {
        width: 213px;
        height: 319px;
    }

    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product img {
        width: 100%;
        height: 100%;
    }

    .product-list {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 32px;
        column-gap: 24px;
    }

    .add-to-cart {
        width: 170px;
        height: 44px;
        padding: 12.5px 28px 12.5px 28px;
        margin-top: -20px;
    }

    .cart-section {
        width: 70%;
        height: 100%;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 32px;
    }

    .cart-item hr {
        width: 98%;
    }

    .cart-summary span::before {
        margin-left: 80%;
    }

    #confirm-order {
        width: 98%;
        text-align: center;
        margin-top: 24px;
    }
}

@media only screen and (max-width: 925px) {
    .header {
        margin-left: 10%;
        margin-top: 24px;
    }

    .container {
        display: flex;
        margin-top: 32px;
        margin-left: 0px;
        margin-bottom: 88px;
        align-items: center;
        justify-content: center;
    }

    .items {
        width: 327px;
        height: auto;
    }

    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product img {
        width: 327px;
        height: 212px;
        object-fit: cover;
    }

    .product-list {
        width: 100%;
        display: grid;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
        row-gap: 32px;
        column-gap: 24px;
        align-items: center;
        justify-items: center;
    }

    .cart-section {
        width: 90%;
        height: 100%;
        margin-right: 24px;
        margin-left: 0px;
        margin-top: 32px;
    }

    .cart-item hr {
        width: 98%;
    }

    .cart-summary span::before {
        margin-left: 50%;
    }

    #confirm-order {
        width: 98%;
        text-align: center;
        margin-top: 24px;
    }

    #confirm-order {
        padding: 16px 85px 16px 85px;
        margin-top: 24px;
    }

    .order {
        margin-top: 50px;
        width: 90%;
    }

    .modal-content {
        max-height: 375px;
        overflow-y: auto;
    }

    .total span::before {
        margin-left: 55%;
    }

    #start-new-order {
        width: 100%;
        padding: 16px 102px;
    }
}