@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --heading-color: #4C545C;
    --para-color: #9EABB2;
    --btn-ios: #26bba4;
    --btn-mac: #6174ff;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    background-image: url('../images/bg-image.png');
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-logo img {
    margin: 128px auto 56px auto;
}

.header-content h1 {
    font-family: Bai Jamjuree;
    font-size: 46px;
    font-weight: 600;
    line-height: 57.5px;
    letter-spacing: -0.75px;
    text-align: center;
    color: var(--heading-color);
}

.header-content p {
    max-width: 730px;
    font-family: Bai Jamjuree;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.15px;
    text-align: center;
    margin: 16px auto 48px auto;
    color: var(--para-color);
}

.btn {
    display: inline-block;
    padding: 13px 36px 13px 36px;
    border-radius: 40px;
}

.btn-ios {
    background-color: var(--btn-ios);
    box-shadow: 0px 10px 20px 0px #89E5C780;
    box-shadow: 0px -3px 0px 0px #00000027 inset;
    font-family: Bai Jamjuree;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    margin-right: 16px;
}

.btn-ios:hover {
    background: rgba(38, 187, 164, 0.25);
    color: rgba(255, 255, 255, 1);
}

.btn-mac {
    background-color: var(--btn-mac);
    box-shadow: 0px 10px 20px 0px #00000019;
    box-shadow: 0px -3px 0px 0px #00000027 inset;
    font-family: Bai Jamjuree;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
}

.btn-mac:hover {
    background: rgba(97, 116, 255, 0.25);
    color: rgba(255, 255, 255, 1);
}

.header-buttons {
    margin-bottom: 150px;
}

.features-section-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features-section h2 {
    font-family: Bai Jamjuree;
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.58px;
    text-align: center;
    color: var(--heading-color);
    margin-top: 0px;
    margin-bottom: 19px;
}

.features-section p {
    max-width: 730px;
    font-family: Bai Jamjuree;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.13px;
    text-align: center;
    color: var(--para-color);
    margin: 0 355px 80px 355px;
}

.features-content {
    display: flex;
    flex-direction: row;
}

.feature-image {
    width: 752px;
    height: 572px;
    margin-left: -32px;
}

.feature-details {
    width: 350px;
    height: 406px;
    display: flex;
    flex-direction: column;
    margin: 68px auto 98px 110px;
}

.feature-details h3 {
    font-family: Bai Jamjuree;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.39px;
    text-align: left;
    color: var(--heading-color);
    margin-bottom: 8px;
}

.feature-details p {
    margin: 0;
    padding: 0;
    font-family: Bai Jamjuree;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.11px;
    text-align: left;
    color: var(--para-color);
}

.details-sync {
    margin-top: 56px;
    margin-bottom: 56px;
}

.access-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.access-section h2 {
    font-family: Bai Jamjuree;
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.58px;
    text-align: center;
    color: var(--heading-color);
    margin: 150px auto 19px auto;
}

.access-section p {
    max-width: 730px;
    font-family: Bai Jamjuree;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.13px;
    text-align: center;
    color: var(--para-color);
    margin: 0px auto 110px auto;
}

.access-image {
    margin: 0px auto 161px auto;
}

.workflow-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.workflow-section h2 {
    font-family: Bai Jamjuree;
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.58px;
    text-align: center;
    color: var(--heading-color);
    margin-bottom: 19px;
}

.workflow-section p {
    margin: 0 auto 72px auto;
    padding: 0;
    font-family: Bai Jamjuree;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.13px;
    text-align: center;
    color: var(--para-color);
}

.workflow-features {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto 15px auto;
}

.feature-block {
    text-align: center;
    width: 350px;
}

.text-feature {
    margin: 0 30px 0 30px;
}

.blacklist-logo {
    width: 44px;
    height: 40px;
    margin: 0px auto 40px auto;
}

.text-logo {
    width: 36px;
    height: 32px;
    margin: 0px auto 50px auto;
}

.sneak-logo {
    width: 50px;
    height: 32px;
    margin: 0px auto 50px auto;
}

.feature-block h3 {
    font-family: Bai Jamjuree;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.39px;
    text-align: center;
    color: var(--heading-color);
    margin-bottom: 16px;
}

.feature-block p {
    font-family: Bai Jamjuree;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.11px;
    text-align: center;
    color: var(--para-color);
    margin: 0;
    padding: 0;
}

.trusted-companies {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto 150px auto;
}

.ibm-logo {
    margin: 0px 90px 0px 90px;
}

.hp-logo {
    margin: 0px 90px 0px 90px;
}

.clipboard-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.clipboard-section h2 {
    font-family: Bai Jamjuree;
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: -0.58px;
    text-align: center;
    color: var(--heading-color);
    margin-bottom: 19px;
}

.clipboard-section p {
    margin: 0px 355px 48px 355px;
    font-family: Bai Jamjuree;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.13px;
    text-align: center;
    color: var(--para-color);
}

.clipboard-buttons {
    margin-bottom: 150px;
}

.footer {
    display: flex;
    flex-direction: row;
    height: 150px;
    background-color: rgba(158, 171, 178, 10.02%);
}

.logo-image {
    width: 55px;
    height: 55px;
    margin: 44px 135px 51px 165px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 39px;
    margin-right: 30px;
}

.footer-links a {
    display: flex;
    width: 160px;
    height: 30px;
    margin-bottom: 12px;
    font-family: Bai Jamjuree;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.13px;
    text-align: left;
    color: var(--heading-color);
}

.footer-links a:hover {
    color: var(--btn-ios);
}

.footer-social {
    margin: 63px 165px 63px auto;
}

.fb-logo {
    width: 24px;
    height: 24px;
    margin-right: 24px;
}

.insta-logo {
    width: 24px;
    height: 24px;
    margin-right: 0px;
}

.twitter-logo {
    width: 24px;
    height: 19.5px;
    margin-right: 24px;
}

.logo-hover:hover {
    filter: invert(59%) sepia(68%) saturate(434%) hue-rotate(121deg) brightness(90%) contrast(94%);
}

@media only screen and (max-width: 1218px) {
    .header-content h1 {
        width: 500px;
        margin: 0 auto 16px auto;
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: -0.5px;
    }

    .header-content p {
        width: 500px;
        margin: 0 auto 48px auto;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.11px;
    }

    .btn {
        width: 300px;
        margin: 0 auto 24px auto;
        padding: 13px 49px 13px 50px;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0.5px;
    }

    .btn-mac {
        margin-bottom: 160px;
    }

    .features-section h2 {
        margin-top: 0px;
        margin-bottom: 16px;
        font-size: 28px;
        line-height: 35px;
        letter-spacing: -0.46px;
    }

    .features-section p {
        width: 500px;
        margin: 0 auto 65px auto;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.12px;
    }

    .features-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .feature-image {
        width: auto;
        height: auto;
        margin: 0px;
    }

    .feature-details {
        width: 450px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 56px auto 10px auto;
    }

    .feature-details h3 {
        text-align: center;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -0.39px;
        text-align: center;
    }

    .feature-details p {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.11px;
        text-align: center;
    }

    .details-sync {
        margin-top: 48px;
        margin-bottom: 48px;
    }

    .access-section h2 {
        width: 500px;
        font-size: 28px;
        line-height: 35px;
        letter-spacing: -0.46px;
        margin: 186px auto 16px auto;
    }

    .access-section p {
        width: 500px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.12px;
        margin: 0px auto 64px auto;
    }

    .access-image {
        width: auto;
        height: 182px;
        margin: 0px auto 130px auto;
    }

    .workflow-section h2 {
        width: 500px;
        font-size: 28x;
        line-height: 35px;
        letter-spacing: -0.46px;
        text-align: center;
        margin-bottom: 11px;
    }

    .workflow-section p {
        width: 500px;
        margin: 0 auto 90px auto;
        padding: 0;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.12px;
        text-align: center;
    }

    .workflow-features {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin: 0 auto 131px auto;
    }

    .feature-block {
        width: 500px;
    }

    .text-feature {
        margin: 56px 0px 56px 0px;
    }

    .blacklist-logo {
        margin: 0px auto 40px auto;
    }

    .text-logo {
        margin: 0px auto 44px auto;
    }

    .sneak-logo {
        margin: 0px auto 44.11px auto;
    }

    .feature-block h3 {
        margin-bottom: 18px;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: -0.39px;
    }

    .feature-block p {
        line-height: 26px;
        letter-spacing: 0.12px;
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0.11px;
        text-align: center;
    }

    .trusted-companies {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0px auto 170px auto;
    }

    .ibm-logo {
        margin: 70px 0px 70px 0px;
    }

    .hp-logo {
        margin: 70px 0px 70px 0px;
    }

    .clipboard-section h2 {
        width: 500px;
        font-size: 28px;
        line-height: 35px;
        letter-spacing: -0.46px;
        margin-bottom: 16px;
    }

    .clipboard-section p {
        width: 500px;
        margin: 0px auto 46px auto;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.12px;
    }

    .clipboard-buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .logo-image {
        margin: 52px auto 40px auto;
    }

    .footer-links {
        margin-top: 20px;
        margin-right: 0;
    }

    .footer-links a {
        margin-bottom: 20px;
        text-align: center;
    }

    .footer-social {
        margin: 48px auto 51px auto;
    }

    .fb-logo {
        margin-right: 40px;
    }

    .insta-logo {
        margin-right: 0px;
    }

    .twitter-logo {
        margin-right: 40px;
    }
}

@media only screen and (max-width: 625px) {
    .header-content h1 {
        width: 311px;
        font-size: 32px;
    }

    .header-content p {
        width: 311px;
    }

    .btn {
        width: 200px;
    }

    .features-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .features-section h2 {
        width: 311px;
    }

    .features-section p {
        width: 311px;
    }

    .feature-details {
        width: 311px;
    }

    .access-section h2 {
        width: 311px;
    }

    .access-section p {
        width: 311px;
    }

    .workflow-section h2 {
        width: 311px;
    }

    .workflow-section p {
        width: 311px;
    }

    .feature-block {
        width: 311px;
    }

    .clipboard-section h2 {
        width: 311px;
    }

    .clipboard-section p {
        width: 311px;
    }
}