/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --yellow-color: #E28625;
    --green-color: #006971;
    --darkgreen-color: #004140;
}

/* Container for the three cards */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;
    margin: auto;
}

/* General styling for all cards */
.card {
    width: 30%;
    height: 420px;
    padding: 48px;
    text-align: left;
}

/* Styling for the first card - Yellow */
.card-yellow {
    background-color: var(--yellow-color);
    border-radius: 8px 0 0 8px;
}

/* Styling for the second card - Green */
.card-green {
    background-color: var(--green-color);
}

/* Styling for the third card - Dark Green */
.card-darkgreen {
    background-color: var(--darkgreen-color);
    border-radius: 0 8px 8px 0;
}

/* Styling for the icons within each card */
.icon img {
    width: 64px;
    height: 40px;
    image-rendering: crisp-edges;
}

/* Styling for the card titles (h2) */
.text h2 {
    font-family: Big Shoulders Display;
    font-size: 40px;
    font-weight: 700;
    line-height: 47.88px;
    text-align: left;
    color: #F2F2F2;
    margin-top: 35px;
    margin-bottom: 25px;
}

/* Styling for the card descriptions (p) */
.text p {
    font-family: Lexend Deca;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #FFFFFF;
    opacity: 75%;
}

/* General styling for buttons */
button {
    background-color: #ffffff;
    width: 150px;
    padding: 11px 31.5px 12px 31.5px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 83px;
    font-family: Lexend Deca;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
}

/* Button styling for the Yellow card */
.card-yellow button {
    color: var(--yellow-color);
}

/* Hover effect for the Yellow card button */
.card-yellow button:hover {
    background-color: var(--yellow-color);
    color: #ffffff;
    border: 2px solid #ffffff;
}

/* Button styling for the Green card */
.card-green button {
    color: var(--green-color);
}

/* Hover effect for the Green card button */
.card-green button:hover {
    background-color: var(--green-color);
    color: #ffffff;
    border: 2px solid #ffffff;
}

/* Button styling for the Dark Green card */
.card-darkgreen button {
    color: var(--darkgreen-color);
}

/* Hover effect for the Dark Green card button */
.card-darkgreen button:hover {
    background-color: var(--darkgreen-color);
    color: #ffffff;
    border: 2px solid #ffffff;
}

/* Responsive Styles */
/* For tablets and larger devices */
@media (max-width: 1024px) {
    .container {
        width: 100%;
    }
}

/* For small devices, like smartphones */
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .card {
        width: 70%;
        height: auto;
        padding: 48px 48.5px 48px 47.5px;
        margin-top: 0px;
        text-align: left;
    }

    .card-yellow {
        border-radius: 8px 8px 0 0;
    }

    .card-darkgreen {
        border-radius: 0 0 8px 8px;
    }

    button {
        margin-top: 25px;
    }
}