@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --bg-color: #FCF8F6;
    --cart-bg-color: #FFFFFF;
    --cart-border: #AD8A85;
    --cart-text: #260F08;
    --h5-color: #87635A;
    --h3-color: #260F08;
    --p-color: #C73B0F;
    --cart-h3-color: #C73B0F;
    --cart-p-color: #87635A;
    --btn-text-color: #FFFFFF;
    --btn-bg-color: #C73B0F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

.header {
    margin-left: 112px;
    margin-top: 88px;
    text-align: left;
    font-family: Red Hat Text;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
}

.container {
    display: flex;
    margin-top: 32px;
    margin-left: 112px;
    margin-bottom: 88px;
}

.items {
    width: 250px;
    height: 347px;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product img {
    width: 100%;
    height: 100%;
}

.product img:hover {
    border: 2px solid var(--btn-bg-color);
    border-radius: 8px;
}

.product-list {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;
    column-gap: 24px;
}

.add-to-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 170px;
    background-color: var(--cart-bg-color);
    color: var(--cart-text);
    border: 1px solid var(--cart-border);
    cursor: pointer;
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.52px;
    text-align: center;
    padding: 12.5px 28px 12.5px 28px;
    border-radius: 999px;
    margin-top: -20px;
}

.add-to-cart:hover {
    color: var(--btn-bg-color);
    border: 1px solid var(--btn-bg-color);
}

.cart-icon {
    max-width: 20px;
    max-height: 20px;
    margin-right: 9.72px;
}

.cart-icon:hover {
    border: none;
}

.product-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-content h5 {
    font-family: Red Hat Text;
    font-size: var(--font-sizetext-preset-4);
    font-weight: 400;
    line-height: 18.52px;
    text-align: left;
    margin-top: 16px;
    color: var(--h5-color);
}

.product-content h3 {
    font-family: Red Hat Text;
    font-size: var(--spacing200);
    font-weight: 600;
    line-height: 21.17px;
    text-align: left;
    color: var(--h3-color);
    margin-top: 4px;
}

.product-content p {
    font-family: Red Hat Text;
    font-size: var(--spacing200);
    font-weight: 600;
    line-height: 21.17px;
    text-align: left;
    color: var(--p-color);
    margin-top: 4px;
}

.quantity-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--btn-bg-color);
    padding: 30px 10px 10px 10px;
    border-radius: 999px;
    margin-top: -20px;
}

.quantity-control button {
    padding: 5px 10px;
    color: var(--cart-bg-color);
    border: 1px solid var(--btn-text-color);
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -20px;
}

.quantity-control button:hover {
    background-color: var(--btn-text-color);
    color: var(--btn-bg-color);
}

.quantity {
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.52px;
    text-align: left;
    color: var(--btn-text-color);
    margin-top: -20px;
    margin-left: 44px;
    margin-right: 44px;
}

.cart-section {
    width: 384px;
    height: 100%;
    max-height: auto;
    background-color: var(--cart-bg-color);
    margin-right: 112px;
    border-radius: 12px;
    padding-bottom: 40px;
}

.cart-section h3 {
    margin-left: 24px;
    margin-top: 24px;
    font-family: Red Hat Text;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.75px;
    text-align: left;
    color: var(--cart-h3-color);
}

.cart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-content p {
    margin-top: 16px;
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.52px;
    text-align: center;
    color: var(--cart-p-color)
}

.cart-items {
    margin-top: 24px;
    margin-left: 24px;
}

.cart-item p {
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.52px;
    text-align: left;
    color: var(--cart-text);
    margin-bottom: 8px;
}

.cart-item span {
    font-weight: bold;
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.52px;
    text-align: left;
    color: var(--btn-bg-color);
    margin-right: 8px;
}

.cart-item h4 {
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.52px;
    text-align: left;
    color: var(--cart-p-color);
    margin-right: 8px;
}

.cart-item h5 {
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.52px;
    text-align: left;
    color: var(--cart-p-color);
}

.cart-item hr {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 90%;
    border: 1px solid #F5EEEC;
}

.cart-summary {
    margin-top: 24px;
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart-summary p {
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.52px;
    text-align: left;
    color: var(--cart-text);
}

.cart-summary span {
    font-family: Red Hat Text;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.75px;
    text-align: left;
    color: var(--cart-text);
}

.cart-summary span::before {
    content: '$';
    font-family: Red Hat Text;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.75px;
    text-align: left;
    color: var(--cart-text);
    margin-left: 181px;
}

#confirm-order {
    padding: 16px 113.5px 16px 113.5px;
    font-family: Red Hat Text;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.17px;
    text-align: left;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);
    border-radius: 999px;
    border: none;
    margin-top: 24px;
    cursor: pointer;
}

#confirm-order:hover {
    background-color: rgba(124, 34, 7, 0.857);
}

.order-confirmation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.order {
    z-index: 999;
    position: relative;
    margin: auto;
    margin-top: 50px;
    width: 592px;
    height: auto;
    background-color: var(--cart-bg-color);
    padding: 40px;
    border-radius: 12px;
}

.order img {
    margin-bottom: 24px;
}

.order h2 {
    font-family: Red Hat Text;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: var(--cart-text);
    margin-bottom: 8px;
}

.order h4 {
    font-family: Red Hat Text;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.17px;
    text-align: left;
    color: var(--h5-color);
    margin-bottom: 32px;
}

.modal-content {
    background-color: var(--bg-color);
    max-height: 585px;
    overflow-y: auto;
}

.item-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    border-bottom: 1px solid #f1f1f1;
}

.item-name {
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.52px;
    text-align: left;
    color: var(--cart-text);
    flex: 2;
}

.item-quantity {
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 600;
    line-height: 18.52px;
    text-align: left;
    color: var(--btn-bg-color);
    flex: 1;
}

.item-price {
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.52px;
    text-align: left;
    color: var(--h5-color);
    text-align: left;
}

.item-total {
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 600;
    line-height: 21.17px;
    text-align: left;
    color: var(--cart-text);
}

.total p {
    padding: 24px;
    font-family: Red Hat Text;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.52px;
    text-align: left;
    color: var(--cart-text);
}

.total span {
    font-family: Red Hat Text;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.75px;
    text-align: left;
    color: var(--cart-text);
}

.total span::before {
    content: '$';
    font-family: Red Hat Text;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.75px;
    text-align: left;
    color: var(--cart-text);
    margin-left: 309px;
}

.item-divider {
    margin: auto;
    border: none;
    width: 90%;
    border-top: 1px solid #F5EEEC;
}

#start-new-order {
    padding: 16px 194.5px;
    font-family: Red Hat Text;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.17px;
    text-align: left;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);
    border-radius: 999px;
    border: none;
    margin-top: 24px;
    cursor: pointer;
}

#start-new-order:hover {
    background-color: rgba(124, 34, 7, 0.857);
}