/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

:root {
    --body-bg-color: #f7f7f7;
    --card-bg-color: #ffffff;
    --title-color: #1F314F;
    --description-color: #68778D;
}

/* Resetting margin and padding for all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    background-color: var(--body-bg-color);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Styling for the card container */
.card {
    width: 320px;
    height: 500px;
    background-color: var(--card-bg-color);
    border-radius: 20px;
    box-shadow: 0px 17px 25px 0px #00000028;
    padding: 15px;
    margin: auto;
}

/* Styling for the QR code image */
.card_qr_image {
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

/* Styling for the content section within the card */
.card_content {
    margin-top: 24px;
    padding: 0px 16px 0px 16px;
}

/* Styling for the card title */
.card_title {
    font-size: 20px;
    font-family: Outfit;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 26.4px;
    text-align: center;
    color: var(--title-color);
}

/* Styling for the card description */
.card_description {
    font-size: 15px;
    font-family: Outfit;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--description-color);
}