/* Importing custom fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --bg-color: #F4D04E;
    --gray: #111111;
}

/* Body styling */
body {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

/* Card container styling */
.card {
    width: 334px;
    height: auto;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 8px 8px 0px 0px #000000;
    border: 1px solid var(--gray);
    overflow: hidden;
    padding: 24px;
}

/* Styling for the card's main image */
.card-image {
    height: auto;
    margin-bottom: 24px;
}

.responsive-card-image {
    display: none;
}

/* Category button styling */
.category {
    display: inline-block;
    background-color: var(--bg-color);
    padding: 5px 15px;
    width: 82px;
    height: 29px;
    border-radius: 4px;
    border: none;
    font-family: Figtree;
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    color: var(--gray);
}

/* Styling for the publication date text */
.publish-date {
    font-family: Figtree;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: var(--gray);
    margin: 12px 0px;
}

/* Styling for the card's title */
.card-title {
    margin-top: 0px;
    margin-bottom: 12px;
    font-family: Figtree;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
    color: var(--gray);
}

/* Hover effect for the card's title */
.card-title:hover {
    color: var(--bg-color);
    cursor: pointer;
}

/* Styling for the card's description text */
.card-description {
    margin-top: 0px;
    margin-bottom: 24px;
    font-family: Figtree;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #6B6B6B;
}

/* Flexbox styling for the author info section */
.author-info {
    display: flex;
    align-items: center;
}

/* Styling for the author's avatar image */
.author-avatar {
    margin-right: 11px;
}

/* Styling for the author's name */
.author-name {
    font-family: Figtree;
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
    text-align: left;
    color: var(--gray);
}

/* Media query for smaller screen sizes */
@media (max-width:575px) {
    .card {
        max-width: 277px;
        height: auto;
    }

    .card-image {
        display: none;
    }

    .responsive-card-image {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 24px;
    }

    .category {
        font-size: 12px;
    }

    .publish-date {
        font-size: 12px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-description {
        font-size: 14px;
    }

    .author-name {
        font-size: 14px;
    }
}